@import "tailwindcss";

input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: rgb(228, 228, 231) !important;
  transition: background-color 5000s ease-in-out 0s;
}